@media screen and (max-width: 768px) {

    body {
        padding: 5px;
    }

    img {
        width: 80%;
    }

    p {
        text-indent: .9375rem;
    }

    header ul {
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    header li {
        margin: 5px;
    }

    main,header {
        width: 100%;
    }

}